name: Check homework
on: [push]
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - run: pytest tests
  validate:
    runs-on: ubuntu-latest
    needs: pytest
    env:
      CALLBACK_TASK_ID: aa54e9cf-3598-45db-a65e-e95d03c029c0
    steps:
      - uses: actions/checkout@main
      - run: docker pull artbakulev/validator-${{ env.CALLBACK_TASK_ID }}:latest
      - run: docker run --mount src="$(pwd)",target=/go/code,type=bind artbakulev/validator-${{ env.CALLBACK_TASK_ID }}:latest